<!-- <p>contact works!</p> -->


<section>

    <div class="container">

        <h2>CONATCT SECTION</h2>
        <app-uline-dark />

        <form class="mx-auto mt-5 p-3">

            <input id="userName" type="text" placeholder="userName" name="userName"
                class="form-control border-0 border-bottom py-3 mb-2 position-relative">
            <label for="userName" class="position-relative">userName : </label>

            <input id="userAge" type="number" placeholder="userAge"
                class="form-control border-0 border-bottom py-3 mb-2 position-relative">
            <label for="userAge" class="position-relative">userAge : </label>

            <input id="userEmail" type="email" placeholder="userEmail"
                class="form-control border-0 border-bottom py-3 mb-2 position-relative">
            <label for="userEmail " class="position-relative">userEmail : </label>

            <input id="userPassword" type="password" placeholder="userPassword"
                class="form-control border-0 border-bottom pb-3 mb-2 position-relative">
            <label for="userPassword" class="position-relative">userPassword : </label>

            <div>
                <button class="btn mt-3 text-white"> send Message </button>
            </div>

        </form>


    </div>
</section>