<!-- <p>portfolio works!</p> -->

<section>

    <div class="container py-4">

        <h2>PORTFOLIO COMPONENT</h2>
        <app-uline-dark />


        <div class="row g-5 py-4">

            <div class="col-md-6 col-lg-4">
                <div class="overflow-hidden position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img src="./assets/Images/Portfolio/port1.png" alt="portfolio1" class="w-100 rounded">
                    <div
                        class="itemLayer position-absolute rounded start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus text-white fa-7x"></i>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                                <div class="position-fixed start-0 w-100 top-0 h-100 bg-primary bg-opacity-25 d-flex justify-content-center align-items-center" data-bs-dismiss="modal" aria-label="Close">
                                    <img src="./assets/Images/Portfolio/port1.png" class="modalImg" alt="portfolio1">
                                </div>
                    </div>
                </div>

            </div>


            <div class="col-md-6 col-lg-4">
                <div class="overflow-hidden position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img src="./assets/Images/Portfolio/port2.png" alt="portfolio1" class="w-100 rounded">
                    <div
                        class="itemLayer position-absolute rounded start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus text-white fa-7x"></i>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                                <div
                                    class="position-fixed start-0 w-100 top-0 h-100 bg-primary bg-opacity-25 d-flex justify-content-center align-items-center" data-bs-dismiss="modal" aria-label="Close">
                                    <img src="./assets/Images/Portfolio/port2.png" class="modalImg" alt="portfolio2">
                                </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4">
                <div class="overflow-hidden position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img src="./assets/Images/Portfolio/port3.png" alt="portfolio1" class="w-100 rounded">
                    <div
                        class="itemLayer position-absolute rounded start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus text-white fa-7x"></i>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                                <div
                                    class="position-fixed start-0 w-100 top-0 h-100 bg-primary bg-opacity-25 d-flex justify-content-center align-items-center" data-bs-dismiss="modal" aria-label="Close">
                                    <img src="./assets/Images/Portfolio/port3.png" class="modalImg" alt="portfolio3">
                                </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row g-5 pt-3">

            <div class="col-md-6 col-lg-4">
                <div class="overflow-hidden position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img src="./assets/Images/Portfolio/port1.png" alt="portfolio4" class="w-100 rounded">
                    <div
                        class="itemLayer position-absolute rounded start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus text-white fa-7x"></i>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                                <div
                                    class="position-fixed start-0 w-100 top-0 h-100 bg-primary bg-opacity-25 d-flex justify-content-center align-items-center" data-bs-dismiss="modal" aria-label="Close">
                                    <img src="./assets/Images/Portfolio/port1.png" class="modalImg" alt="portfolio4">
                                </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="overflow-hidden position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img src="./assets/Images/Portfolio/port2.png" alt="portfolio5" class="w-100 rounded">
                    <div
                        class="itemLayer position-absolute rounded start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus text-white fa-7x"></i>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                                <div
                                    class="position-fixed start-0 w-100 top-0 h-100 bg-primary bg-opacity-25 d-flex justify-content-center align-items-center" data-bs-dismiss="modal" aria-label="Close">
                                    <img src="./assets/Images/Portfolio/port2.png" class="modalImg" alt="portfolio5">
                                </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="overflow-hidden position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img src="./assets/Images/Portfolio/port3.png" alt="portfolio6" class="w-100 rounded">
                    <div
                        class="itemLayer position-absolute rounded start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus text-white fa-7x"></i>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                                <div
                                    class="position-fixed start-0 w-100 top-0 h-100 bg-primary bg-opacity-25 d-flex justify-content-center align-items-center" data-bs-dismiss="modal" aria-label="Close">
                                    <img src="./assets/Images/Portfolio/port3.png" class="modalImg" alt="portfolio6">
                                </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>